@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Shadows+Into+Light&display=swap');

body{
    background-image: url(../img/contacto.jfif);
    background-size: cover;
    font-family: 'Shadows Into Light', cursive, border;
}

h1{
    color: white;
    text-align: center;
    font-size: 90px;
}

h2{
    text-align: center;
    color: white;
    font-size: 50px;
}

.texto{
    font-size: 50px;
    color:white;
    text-decoration: none;
}

table{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}